body {
    width: 100%;
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Định dạng logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Định dạng menu navigation */
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 25px;
    position: relative;
}

nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ccc;
}

/* Định dạng tìm kiếm */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.search-container button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.search-container button:hover {
    background-color: #45a049;
}

/* Định dạng đăng nhập */
.login-container {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    padding: 8px 16px;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.login-container:hover {
    border-color: #ccc;
}

.login-container a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.login-container a:hover {
    color: #ccc;
}
